<div class="container">
  <div class="card-box animate__animated animate__flipInY">
    <div class="navbar-box">
      <div class="name-box">
        <div class="name-circle">
          B
        </div>
        <span>
          <b>Born2bdev</b>
        </span>
      </div>
    </div>
    <div class="content-box">
      <div class="high-light-profile">
          <div class="image-box">
            <img src="assets/images/profile.png" alt="" >
          </div>
          <div class="detail-profile-box">
            <div class="write">
            <span class="write-text">Developer~✦</span>
            </div>
            <h1>Nattanan Moontip</h1>
            <span class="des-profile">
              Hello and welcome to my personal website! Here, you'll find an overview of my work, expertise, and skills. 
              If you're looking for a dedicated professional who is passionate about delivering outstanding results, 
              you've come to the right place. Feel free to explore and get to know more about me!
            </span>
            <div class="button-group-profile"> 
              <button class="btn-download-cv" (click)="linkToFastwork()">See on My Fastwork</button>
            </div>
          </div>
      </div>
      <div class="doing-content-box">
        <h3>What am I do</h3>
        <div class="doing-list">
          <div class="do-dev">
            <div class="do-dev-icon">
              <mat-icon>computer</mat-icon>
            </div>
            <div class="do-dev-content">
              <h3>Developer</h3>
              <span style="word-wrap: break-word;">
                I develope fullstack front-end and back-end stack in front-end i use framwork angular  and back-end i choose C# language
              </span>
            </div>
          </div>
          <div class="do-dev">
            <div class="do-dev-icon">
              <mat-icon>devices_other</mat-icon>
            </div>
            <div class="do-dev-content">
              <h3>Flutter Developer</h3>
              <span style="word-wrap: break-word;">
                I write Flutter to build apps for iOS and Android. I used to write a car auction app.
              </span>
            </div>
          </div>
        </div>
        <div class="doing-list">
          <div class="do-dev">
            <div class="do-dev-icon">
              <mat-icon>settings</mat-icon>
            </div>
            <div class="do-dev-content">
              <h3>MicroController And IOT</h3>
              <span style="word-wrap: break-word;">
                I create project with arduino and esp8266 or esp32 and plug to hardware for functional.
              </span>
            </div>
          </div>
          <div class="do-dev">
            <div class="do-dev-icon">
              <mat-icon>work</mat-icon>
            </div>
            <div class="do-dev-content">
              <h3>Fleelance</h3>
              <span style="word-wrap: break-word;">
                 When free time i get a job on app fastwork (IOT project and Web).
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>